.simulation-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.simulation-page h1 {
  width: 100%;
  margin: 30px;
  text-align: left;
  font-size: 40px;
}

.simulation-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.SOM-control {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items:center;
  justify-content: center;
  background-color: #4f2396;
  border: solid 3px #6f056f;
  box-shadow: 10px -10px 0px #6f056f;
  border-radius: 30px;
  width: 300px;
  height: 300px;
  margin: 60px
}

.SOM-control h1{
  text-align: center;
  width: auto;
  margin: 45px;
}

.SOM-control button {
  margin: 20px;
  padding: 10px;
  font-size: 15px;
  color: white;
  background-color: #20b825;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: end center;
}

.SOM-control button:hover {
  color: white;
  background-color: #1a9c1e;
  transform: scale(1.05);
}
.SOM-container {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #8186e4;
  border: solid 3px #3e43a7;
  box-shadow: -10px 10px 0px #3e43a7;
  border-radius: 20px;
}

.solid-canvas-container {
  position: absolute;
  /* Position the solid canvas absolutely within its container */
  top: 300px;
  left: 50%;
  /* Position at horizontal center */
  transform: translate(-50%, -50%);
  /* Center alignment using transform */
}