.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
  margin: 2em;
}

.project-container {
  background-color: #8186e4;
  border: 2px solid #3e43a7;
  box-shadow: -10px 10px 0px #3e43a7;
  color: #ececec;
  border-radius: 15px;
  padding: 20px;
  width: 15em;
  text-decoration: none;
}

.project-container h2 {
  text-align: center;
  margin-bottom: 1em;
}

.project-container img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5em;
}

.project-container .simulation-link {
  text-decoration: none;
  color: inherit;
}

.project-container:hover {
  background-color: #8a8ee5;
  border: 2px solid #404496;
  box-shadow: -10px 10px 0px #404496;
  color: #ececec;
  transform: scale(1.05);
  cursor: pointer;
}