.home {
  margin: 3em;
  letter-spacing: 2px;
  text-align: left;
}

.home-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50em;
  margin: 0 auto;
}

.home-blurb {
  width: 100%;
}

.home-blurb h1 {
  font-size: 40px;
}

.home-blurb p {
  font-size: 20px;
}

.home-mission {
  text-align: center;
  margin-top: 4em;
}

.home-mission h1 {
  font-size: 40px;
  text-align: left
}

.home-mission li {
  padding: 0.5em 0em;
  font-size: 20px;
  margin-left: -1em;
  text-align: left;
}


.home-top-img {
  max-width: 15em;
  position: fixed;
  top: 15em;
  left: 0em;
  z-index: -1;
}

.home-btm-img {
  /* position: fixed; */
  width: 15em;
  margin: 1em;
  /* z-index: -1; */
}