.LS-container {
  position: relative;
  width: 1000px;
  height: 400px;
  background-color: #8186e4;
  border: solid 3px #3e43a7;
  box-shadow: 5px -5px 0px #3e43a7;
  /* border-radius: 20px; */
  color: white;
}

/* .LS-container p{
  background-color: #fab87e;
  color: white;
} */

.LS-element-container {
  position: relative;
  width: 10em;
  height: 16em;
  margin: 2em;
  padding: 1em;
  color: black;
  background-color: #fab87e;
  box-shadow: -5px 5px 0px #ec7d1c;
  border: solid 3px #ec7d1c;
  border-radius: 20px;
} 


.LS-element {
  margin: 1em;
  cursor: pointer;
  /* z-index: 999;  */
}

.LS-element p{
  width: 2em;
  height: 2em;
  text-align: center;
  background-color: white;
  font-size: large;
  color: rgb(36, 36, 36);
}


.LS-element-container .LS-element p {
  width: 2em;
  height: 2em;
  text-align: center;
  background-color: white;
  font-size: large;
  color: rgb(36, 36, 36);
}
