body {
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6c73e1;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-main {
  margin-top: 120px;
  padding: 2%;
}

.user-btn {
  padding: 8px 12px;
  font-size: 15px;
  color: white;
  background-color: #1ab11f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-1 {
  margin-right: 30px;
}

.user-btn:hover {
  color: white;
  background-color: #1a9c1e;
  transform: scale(1.05);
}
